*{
    font-family: verdana;
}
body, h1, p{
    margin: 0px;
    padding: 0px;
}
#cadastro{
    width: 800px;
    min-height: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-sizing: border-box;
    border: solid 1px black;
    box-shadow: 10px 10px 10px #cccccc;
}

#login{
    width: 800px;
    min-height: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-sizing: border-box;
    border: solid 1px black;
    box-shadow: 10px 10px 10px #cccccc;
}

#cadastroTitulo{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: dodgerblue;
    width: auto;
    height: 120px;
    text-align: center;
    color: white;
    font-size: 1.6em;
    box-sizing: border-box;
    padding-top: 30px;
}
.campos{
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cadastroInformacoesPessoais  {
    width: 270px;
    height: 55px;
    float: left;
   
    background-color: #ededed;
    text-align: right;
    font-size: 1.1em;
    padding-top: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-right: 10px;
    
}
.cadastroEntradaDeDados {
    width: 600px;
    height: auto;
    margin-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;

  
}

input[type=text], 
input[type=tel], 
input[type=email],
select {
    height: 30px;
    margin-left: 10px;
    width: 90%;

}

input[type=text]:hover, 
input[type=tel]:hover, 
input[type=email]:hover{
    background-color: rgb(246, 246, 196);
    transition: 1s;
}


.cadastroEntradaDeDados textarea{
    width: 90%;
    height: 100px;
    resize: none;
}
.enviar input{
    width: 150px;
    height: 50px;
    background-color: dodgerblue;
    color: white;
    margin-top: 30px;
    font-size: 1.2em;
}

.enviar input:hover{
    background-color: rgb(2, 131, 45);
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;

}

.enviar{
    width: 100;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
#consultaDeDados{
    width: 1000px;
    min-height: 300px;
    height: auto;
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 10px #cccccc;
}
#tblConsulta{
    width: 100%;
    min-height: 30px;
    height: auto;
}
#tblTitulo{
    width: 100%;
    height: 30px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    font-size: 1.6em;
}
#tblLinhas{
    width: 100%;
    height: 50px;
    border: solid 1px black;
}
.tblColunas{
    width: 50px;
    height: 30px;
    text-align: center;
    background-color: darkseagreen;
    border: solid 1px black;
}
.tblImagens{
    width: auto;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    
/*    padding: 10px;*/
/*    box-sizing: border-box;*/
}
.excluir, .pesquisar, .editar{
    width: 30px;
    height: 30px;
/*    background-color: black;*/
    float: left;
    margin-left: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.excluir:hover, .editar:hover, .pesquisar:hover {
    transform: scale(1.3);
    transition: 1s;
}


#visualizar{
    width: 1000px;
    height: 800px;
    border: solid 1px #000000;
    margin-left: auto;
    margin-right: auto;
}

#visualizar table{
    width: inherit;
    height: inherit;
}

#visualizar table tr{
    height: 20px;
}

#visualizar table tr td{
    width: 50%;
    border: solid 1px #cccccc;
}

.visualizarTitulo{
    background-color: darkcyan;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}

.registros{
    background-color: #faf9f9;
}

.destaque{
    font-weight: bold;
}

/*Modal*/
#containerModal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#modal{
    width: 50vw;
    height: 60vh;
    background-color: #ffffff;
/*    margin: auto;*/
}

.foto{
    width: 80px;
    height: 80px;
}

#visualizarFoto{
    width: 300px;
    height: 150px;
    position: relative;
    right: -200;
}
#visualizarFoto img{
    width: inherit;
    height: inherit;
}


#login{
    height: 200px;
}






